* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
}

ol, ul {
    padding-left: 1em;
    font-size: 1.1rem;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 64em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: $background-color-main;
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.site-header {
    height: 200px;
    width: 25em;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    margin: 0 auto;
    background-color: $background-header-color;
    height: 160px;
}

/* Title */


.title, .logo {
    padding: 1em 2em 2em 0;
    margin: auto;
}

.logo img {
    height: 120px;
    width: 120px;
}


@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 80%;
    }

    .main {
        width: 70%;
    }
}

/* Nav */

.nav {
    margin: auto;
    padding-right: 1em;
    width: 41em;
}

.nav a {
    color: $font-color
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $background-footer-color;
    padding-left: 1rem;
    height: 100px;

    .social {
        padding-right: 1rem;
        padding-top: 2em;
    }

    .social a {
        text-decoration: none;
        font-size: 2.5rem;
    }

    p {
        color : $footer-logo;
    }

    i {
        color: $footer-logo;
    }
}

img, embed, object, video {
    max-width: 100%;
}

.website-img {
    aspect-ratio: 16/9;
    width: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1em 1em 0.5em 0;
    float: left;
}

li a {
    // font-size: 1.1rem;
    text-decoration: none;
}

li a:hover {
    text-decoration: wavy underline;
}
