* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
}

ol, ul {
    padding-left: 1.5em;
    font-size: 1.2rem;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 64em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $background-color-main;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.site-header {
    height: 150px;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: $background-header-color;
    // border-bottom: 3px solid $accent-color
}

/* Title */


.title, .logo {
    padding: 1em 2em 2em 0;
    margin: auto;
}

.logo {
    padding-left: 1em;
    max-width: 200px;
    min-width: 80px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 10%;
    }

    .main {
        width: 70%;
    }
}

/* Nav */

.nav {
    margin: auto;
    padding-right: 1em;
}

.nav a {
        color: $font-color
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $accent-color;
    background-color: $background-footer-color;
    padding-left: 1rem;

    .social {
        padding-right: 1rem;
        padding-top: 3em;
    }

    .social a {
        text-decoration: none;
        font-size: 2rem;
    }
}

img {
    max-width: 100%;
}

.website-img {
    aspect-ratio: 16/9;
    width: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1em 1em 0.5em 0;
    float: left;
}