@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@700&display=swap');

$font-color: #D8D8D8;
$font-alternative-color: #fff;
$accent-color: #333;
$background-color: #212121;
$background-alternative-color: #363636;
$background-footer-color: #212121;
$background-header-color: #212121;
$background-color-code: #212121;
$background-color-main: #363636;

$header-font: 'Poppins', sans-serif;
$main-font: 'Lora', serif;