@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@700&display=swap');

$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$background-footer-color: #333;


$header-font: 'Poppins', sans-serif;
$main-font: 'Lora', serif;